{% extends '_update_event.html' %}
{% load static %}


{% block event %}

<section class="w-full pt-32 pb-20 overflow-hidden">
    <div class="">
        <div class="relative block">
            <div class="space-y-4 bg-white w-full relative">
                {% include "includes/errors.html" %}
                <div class="px-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="w-full">
                            <div class="bg-white w-full relative">
                                <h6 class="text-custom-h text-base mt-3 mb-6 font-bold uppercase">
                                    Event Details
                                </h6>
                                <div class="flex flex-wrap gap-y-4">
                                    <div class="w-full md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_image">
                                                event picture*
                                            </label>
                                            {{form.image}}
                                            <div class="w-full border rounded-md bg-white border-dotted p-6">
                                                <div
                                                    class="flex items-center flex-col md:flex-row gap-4 w-full justify-between">
                                                    <div class="flex items-center space-x-4">
                                                        <div id="img_container" data-image="{{form.image.value.url}}"
                                                            class="h-16 w-20 overflow-hidden rounded bg-gray-300">
                                                            <div id="no_image"></div>
                                                        </div>
                                                        <div class="space-y-1">
                                                            <p class="text-xs font-bold text-gray-500">Upload image
                                                                to illustrate your event</p>
                                                            <p class="text-xs font-light text-gray-500">SVG, PNG,
                                                                JPG, JPEG or GIF</p>
                                                        </div>
                                                    </div>
                                                    <div id="pick_image"
                                                        class="border p-2 cursor-pointer text-center text-black">
                                                        <p class="text-sm">Browser</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.image.help_text}}</span>
                                            {% if form.image.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.image.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_title">
                                                Title*
                                            </label>
                                            {{form.title}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.title.help_text}}</span>
                                            {% if form.title.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.title.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 relative md:px-4">
                                        <div class="relative w-full  mb-3">
                                            <label for="id_category">
                                                event category*
                                            </label>
                                            {{form.category}}

                                            {% if form.category.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.category.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_phone">
                                                Phone*
                                            </label>
                                            {{form.phone}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.phone.help_text}}</span>
                                            {% if form.phone.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.phone.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 relative md:px-4">
                                        <div class="relative w-full  mb-3">
                                            <label for="id_email">
                                                Email*
                                            </label>
                                            {{form.email}}

                                            {% if form.email.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.email.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-12/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_small_description">
                                                Add small description about this event*
                                            </label>
                                            <div class="relative" x-data="{maximum: ''}">
                                                {{form.small_description}}
                                                <span
                                                    class="absolute px-2 py-1 text-xs text-white bg-blue-500 rounded right-2 bottom-2"
                                                    x-text="$refs.maximum.getAttribute('maxlength') - maximum.length"
                                                    x-cloak></span>
                                            </div>


                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.small_description.help_text}}</span>

                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_event_startdate">
                                                Event start date and time*
                                            </label>
                                            {{form.event_startdate}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.event_startdate.help_text}}</span>
                                            {% if form.event_startdate.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.event_startdate.errors.as_text}}</span>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_event_enddate">
                                                Event End date and Time*
                                            </label>
                                            {{form.event_enddate}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.event_enddate.help_text}}</span>
                                            {% if form.event_enddate.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.event_enddate.errors.as_text}}</span>
                                            {% endif %}

                                        </div>
                                    </div>

                                    <div class="w-full lg:w-12/12 md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_content">
                                                event details*
                                            </label>

                                            {{form.content}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.content.help_text}}</span>
                                            {% if form.content.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.content.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="mt-6 border-b-1 border-gray-300">
                        <!-- <p class="text-sm text-custom-h font-medium mt-4">
                            By clicking submit, you are agreeing to our <span class="text-custom-primary" href="">terms
                                and conditions</span>
                        </p> -->

                        <div class="flex mt-4 justify-start">
                            <h5
                                class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-primary hover:border-custom-h inline-block z-0">
                                <span
                                    class="inline-block absolute top-0 right-0 w-full h-full bg-custom-primary group-hover:bg-black -z-1 group-hover:w-0 transition-all duration-300"></span>
                                <button type="submit"
                                    class="relative z-1 px-[30px] lg:px-10 py-3 md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-1.5 uppercase">
                                    Update Details
                                </button>
                            </h5>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock event %}
{% block js %}

<script>
    var max_words = 250;
    $("textarea[name=small_description]").on("keyup", function () {
        var str = $(this).val();
        if (str.split(/[\s]+/).length > max_words) {
            alert("You cannot put more than" + max_words + " words in this text area.")
            var new_str = str.split(/[\s]+/).splice(0, max_words).join(' ');
            $(this).val(new_str);
        }
    })

    window.onload = () => {
        const file_picker = document.querySelector("#id_image"),
            pick_image = document.querySelector("#pick_image")
        const no_image = document.querySelector("#no_image");
        const img_container = document.querySelector("#img_container")
        const img = document.querySelector("#img")

        if (img_container.getAttribute("data-image")) {

            img_container.removeChild(no_image);
            img_container.innerHTML += `
                    <img
                        src="${img_container.getAttribute("data-image")}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
        }
        pick_image.addEventListener('click', () => {
            file_picker.click()
        })

        file_picker.onchange = ({target}) => {

            var file = target.files[0]
            if (file) {
                // console.log(no_image)
                if (no_image) {

                    img_container.removeChild(no_image);
                    img_container.innerHTML += `
                    <img
                        src="${window.URL.createObjectURL(file)}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
                } else {
                    img.src = window.URL.createObjectURL(file)
                }

            } else {
                alert("no file selected")
            }

        };

    }

</script>

<script>

    $(document).ready(function () {
        // Initialize DateTimePicker for startDatetime
        $('#id_event_startdate').datetimepicker({
            format: 'Y-m-d H:i:s',
            minDate: 0,  // Set minimum date to the current date
            step: 15,   // Set the time step to 15 minutes (optional)
        });

        // Initialize DateTimePicker for endDatetime
        $('#id_event_enddate').datetimepicker({
            format: 'Y-m-d H:i:s',
            minDate: 0,  // Set minimum date to the current date
            step: 15,   // Set the time step to 15 minutes (optional)
        });
    });
</script>

{% endblock js %}