{% extends '_create-campaign.html' %}
{% load static %}

{% block campaign %}

<div class="w-full pb-20 h-full ">
    <div class="space-y-4 w-full relative">
        {% include "includes/errors.html" %}
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex items-start flex-col gap-7">
                    <div class="bg-white w-full">
                        <h6 class="text-custom-h text-base mt-3 mb-6 font-bold uppercase">
                            Campaign Information
                        </h6>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_image">
                                        campaign picture*
                                    </label>
                                    {{form.image}}
                                    <div class="w-full border rounded-md bg-white border-dotted p-6">
                                        <div
                                            class="flex items-center flex-col md:flex-row gap-4 w-full justify-between">
                                            <div class="flex items-center space-x-4">
                                                <div id="img_container" data-image="{{form.image.value.url}}"
                                                    class="h-16 w-20 overflow-hidden rounded bg-gray-300">
                                                    <div id="no_image"></div>
                                                </div>
                                                <div class="space-y-1">
                                                    <p class="text-xs font-bold text-gray-500">Upload image
                                                        to illustrate your campaign</p>
                                                    <p class="text-xs font-light text-gray-500">SVG, PNG,
                                                        JPG, JPEG or GIF</p>
                                                </div>
                                            </div>
                                            <div id="pick_image"
                                                class="border p-2 cursor-pointer text-center text-black">
                                                <p class="text-sm">Browser</p>
                                            </div>
                                        </div>
                                    </div>

                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.image.help_text}}</span>
                                    {% if form.image.errors %}
                                    <span
                                        class="text-[11px] text-red-500 block font-normal lowercase">{{form.image.errors.as_text}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-full lg:w-12/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_title">
                                        Title*
                                    </label>
                                    {{form.title}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.title.help_text}}</span>

                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_category">
                                        category*
                                    </label>
                                    {{form.category}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.category.help_text}}</span>
                                </div>
                            </div>
                            
                            <div class="w-full lg:w-6/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_target">
                                        target*
                                    </label>
                                    {{form.target}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.target.help_text}}</span>

                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_end_date">
                                        Start date*
                                    </label>
                                    {{form.start_date}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.start_date.help_text}}</span>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_end_date">
                                        End date*
                                    </label>
                                    {{form.end_date}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.end_date.help_text}}</span>
                                </div>
                            </div>
                            <div class="w-full lg:w-12/12 lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_small_description">
                                        Add small description about this campaign*
                                    </label>
                                    {{form.small_description}}
                            
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.small_description.help_text}}</span>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full relative">
                        <h6 class="text-custom-h text-base mt-3 mb-6 font-bold uppercase">
                            About The Campaign
                        </h6>
                        <div class="flex flex-wrap">

                            <div class="w-full lg:px-4">
                                <div class="relative w-full mb-3">
                                    <label for="id_details">
                                        Details about the campaign*
                                    </label>

                                    {{form.details}}
                                    <span
                                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.details.help_text}}</span>
                                    {% if form.details.errors %}
                                    <span
                                        class="text-[11px] text-red-500 block font-normal lowercase">{{form.details.errors.as_text}}</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <hr class="mt-6 border-b-1 border-blueGray-300">
                <p class="text-sm text-custom-h font-medium mt-4">
                    By clicking submit, you are agreeing to our campaign <a href="" class="text-custom-primary">terms
                        and
                        conditions</a>.
                </p>
                <div>
                    <h5
                        class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-custom-h hover:border-custom-primary inline-block z-0">
                        <span
                            class="inline-block absolute top-0 left-0 w-full h-full bg-custom-h group-hover:bg-custom-primary -z-1 group-hover:w-0 transition-all duration-300"></span>
                        <button type="submit"
                            class="relative z-1 px-5 font-sans md:px-[25px] lg:px-10 py-[10px] md:py-[15px] lg:py-[17px] group-hover:text-custom-h leading-1.5 uppercase">
                            Save & Proceed
                        </button>
                    </h5>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock campaign %}
{% block js %}
<script>
    window.onload = () => {
        const file_picker = document.querySelector("#id_image"),
            pick_image = document.querySelector("#pick_image")
        const no_image = document.querySelector("#no_image");
        const img_container = document.querySelector("#img_container")
        const img = document.querySelector("#img")

        if (img_container.getAttribute("data-image")) {

            img_container.removeChild(no_image);
            img_container.innerHTML += `
                    <img
                        src="${img_container.getAttribute("data-image")}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
        }
        pick_image.addEventListener('click', () => {
            file_picker.click()
        })

        file_picker.onchange = ({target}) => {

            var file = target.files[0]
            if (file) {
                // console.log(no_image)
                if (no_image) {

                    img_container.removeChild(no_image);
                    img_container.innerHTML += `
                    <img
                        src="${window.URL.createObjectURL(file)}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
                } else {
                    img.src = window.URL.createObjectURL(file)
                }

            } else {
                alert("no file selected")
            }

        };

    }

</script>
<script>

    $(document).ready(function () {
        // Initialize DateTimePicker for startDatetime
        $('#id_start_date').datetimepicker({
            format: 'Y-m-d H:i:s',
            minDate: 0,  // Set minimum date to the current date
            step: 15,   // Set the time step to 15 minutes (optional)
        });

        // Initialize DateTimePicker for endDatetime
        $('#id_end_date').datetimepicker({
            format: 'Y-m-d H:i:s',
            minDate: 0,  // Set minimum date to the current date
            step: 15,   // Set the time step to 15 minutes (optional)
        });
    });
</script>

{% endblock js %}