{% extends '_base.html' %}
{% load static %}
{% block title %}Payment failed{% endblock title %}

{% block content %}

<section class="py-16 h-full bg-custom-bg font-sans">
    <div class="container">
        <div
            class="w-full max-w-full rounded-xl my-auto bg-white mx-auto md:w-1/2 lg:w-5/12 relative shadow-xl text-center">
            <div class="p-5 md:p-7">
                <div class="space-y-6">
                    <h3 class="text-custom-h text-2xl md:text-4xl font-extrabold">Sorry! Payment not processed</h3>
                    <div>
                        <i class="fa-regular fa-circle-xmark text-8xl font-extralight text-custom-h"></i>
                    </div>

                    <p class="text-custom-h text-lg font-medium">
                        There was problem while trying to process your payment
                    </p>
                    <p class="text-gray-500 text-lg font-medium">
                        Your contribution was not successfully paid. There was a problem processing your payment. Please
                        try again later
                    </p>
                    
                    <button
                        class="w-36 lg:w-40 h-12 border-2 border-custom-h bg-custom-h hover:bg-white hover:text-custom-h text-white font-medium text-sm focus-within:outline-none focus:outline-none lg:text-base duration-500 rounded-md">
                        <a href="{% url 'siyazalana_home:siyazalana-home' %}">
                            Home
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}