{% extends '_base.html' %}
{% load static %}
{% block title %}<title>BBGI - {{user.username}}</title>{% endblock title %}

{% block content %}


<section class="w-full font-sans py-20 px-0 bg-white">
    <div class="container">
        <div class="w-full">
            <div class="flex w-fit flex-col lg:items-start md:flex-row gap-11 mx-auto">
                <div
                    class="w-28 h-28 md:w-44 md:h-44 {% if user.subscription and user.is_paid %}border-custom-primary border-4{% endif %} mx-auto grid items-center justify-center overflow-hidden rounded-full bg-custom-primary">
                    {% if user.profile_image %}
                    <img src="{{user.profile_image.url}}" alt="{{user.first_name}}"
                        class="w-full h-full object-cover" />
                    {% else %}
                    <p class="text-white font-bold text-center text-3xl md:text-6xl">
                        {{user.first_name.0}}{{user.last_name.0}}</p>
                    {% endif %}
                </div>
                <div class="text-center grid items-center justify-center gap-4 md:text-left md:w-[550px]">
                    <div class="">
                        <p class="text-3xl md:text-4xl font-bold text-custom-h">
                            {{user.title}} {{user.get_full_name}}
                        </p>
                    </div>

                    <div class="">
                        <div class="space-x-1 text-custom-text">
                            <p class="text-base inline font-normal">
                                <i class="fa-solid fa-phone mr-1"></i> {{user.phone}} |
                            </p>
                            <p class="text-base inline font-normal">
                                <i class="fa-solid fa-envelope mr-1"></i> {{user.email}}
                            </p>
                        </div>
                        <div class="space-x-1 text-custom-text">
                            {% if user.address %}
                            <p class="text-sm lg:text-base font-normal text-custom-text">
                                <i class="fa-solid fa-location-dot mr-1"></i> {{user.address}}
                            </p>
                            {% endif %}
                        </div>

                        <div class=" text-custom-text mt-3 flex items-center w-full justify-center space-x-5">
                            {% if user.facebook %}
                            <div class="group transition-all duration-300">
                                <a class="group-hover:animate-bounce" href="{{user.facebook}}" _blank><i
                                        class="fa-brands fa-facebook text-2xl"></i></a>
                            </div>
                            {% endif %}
                            {% if user.twitter %}
                            <div class="group transition-all duration-300">
                                <a class="group-hover:animate-bounce" href="{{user.twitter}}" _blank><i
                                        class="fa-brands fa-x-twitter text-2xl"></i></a>
                            </div>
                            {% endif %}
                            {% if user.instagram %}
                            <div class="group transition-all duration-300">
                                <a class="group-hover:animate-bounce" href="{{user.instagram}}" _blank><i
                                        class="fa-brands fa-instagram text-2xl"></i></a>
                            </div>
                            {% endif %}

                            {% if user.linkedIn %}
                            <div class="group transition-all duration-300">
                                <a class="group-hover:animate-bounce" href="{{user.linkedIn}}" _blank><i
                                        class="fa-brands fa-linkedin text-2xl"></i></a>
                            </div>
                            {% endif %}
                        </div>

                    </div>

                    <div class="relative block">
                        {% if request.user == user %}
                        <div class="text-center p-2 rounded-md border  text-base">
                            <a href="{% url 'accounts:profile-update' %}" class="text-custom-h"> Edit
                                profile </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-full bg-white mb-20 overflow-hidden">
    <div class="container">
        <div class="w-full space-y-5">
            <div class="border w-full p-2 md:p-4">
                <div class="w-fit mx-auto">
                    <div class="flex flex-wrap items-center w-full gap-7">
                        <div data-category="biography"
                            class="bg-gray-300 cursor-pointer transition-all w-fit duration-500 py-2 px-3 user_nav_item text-center text-gray-900 font-medium text-sm md:text-lg">
                            <p>Biography</p>
                        </div>


                        <div data-category="listings"
                            class="bg-custom-primary cursor-pointer transition-all w-fit duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Listings</p>
                        </div>

                        <div data-category="events"
                            class="bg-custom-primary cursor-pointer transition-all w-fit duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Events</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="w-full p-4">
                <div id="biography" class="block w-full user_nav_list">

                    <div class="space-y-5 grid w-full">
                        <h5 class="text-custom-h text-2xl font-bold">Biography</h5>


                        <div class="flex flex-col md:flex-row items-start gap-9 w-full">
                            <div class="space-y-4 w-full md:w-9/12">
                                {% if user.biography == none %}
                                <p class="text-sm text-custom-tertiary font-normal">
                                    {{user.first_name}} currently does not have biography
                                </p>
                                {% else %}
                                <p class="text-sm text-custom-tertiary font-normal">
                                    {{user.biography}}
                                </p>
                                {% endif %}
                            </div>
                            {% if user.sociallinks %}
                            <div class="p-5 w-full md:w-3/12  bg-custom-primary rounded-lg">
                                <div class="space-y-4 text-white">
                                    <h6 class="font-bold text-base text-center">Connect</h6>
                                    <div class="text-start space-y-2">
                                        {% if user.sociallinks.facebook %}
                                        <a class="text-base text-white font-semibold block"
                                            href="{{user.sociallinks.facebook}}">Facebook</a>
                                        {% endif %}
                                        {% if user.sociallinks.twitter %}
                                        <a class="text-base text-white font-semibold block"
                                            href="{{user.sociallinks.twitter}}">Twitter </a>
                                        {% endif %}
                                        {% if user.sociallinks.instagram %}
                                        <a class="text-base text-white font-semibold block"
                                            href="{{user.sociallinks.instagram}}">Instagram</a>
                                        {% endif %}
                                    </div>
                                    {% if request.user == user %}
                                    <div>
                                        <a id="navbar-button" href="{% url 'accounts:update-social-links' %}"
                                            class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-fit p-2 grid items-center justify-center font-sans font-normal text-sm md:text-base ">Update
                                            connection</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>


                <div id="listings" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-custom-h text-2xl font-bold ">Listings</h5>
                        {% if user.businesses.count == 0 %}
                        <div class="relative block">
                            <div class="space-y-4 w-full">

                                <p class="text-sm text-custom-tertiary font-normal">
                                    {{user.first_name}} currently does not have listings
                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div class="w-full h-fit">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-7 flex-wrap">
                                {% for listing in user.businesses.all %}
                                <div
                                    class="group overflow-hidden shadow-[0px_10px_30px_0px_rgba(0,_0,_0,_0.07)] rounded-lg">
                                    <div class="relative overflow-hidden block">
                                        <div class="img_box overflow-hidden relative block">
                                            <div
                                                class="overflow-hidden h-52 bg-custom-h relative block transition-all duration-500 ease-in">
                                                {% if listing.background_image %}
                                                <img src="{{listing.background_image.url}}"
                                                    alt="{{listing.title}} background_image by {{listing.owner.get_full_name}}"
                                                    class="w-full transition-all duration-500 ease-in group-hover:scale-105 group-hover:opacity-50 h-full object-cover">
                                                {% else %}
                                                <img src="{% static 'R.png' %}" alt="{{listing.title}}"
                                                    class="w-full transition-all duration-500 ease-in group-hover:scale-105 group-hover:opacity-50 h-full object-cover">
                                                {% endif %}
                                            </div>
                                            <div class="absolute bottom-3 left-3">
                                                <div class="py-1 px-2 bg-custom-primary">
                                                    <div class="flex items-center justify-center space-x-1">
                                                        <i class="fa-regular text-white fa-xs fa-star"></i>
                                                        <p class="text-white text-xs p-0 font-semibold">
                                                            {{listing.get_average_rating|safe}}</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="block text-center space-y-6 bg-white ">
                                            <div class="space-y-1 pt-5 px-5">
                                                <h3
                                                    class="text-custom-h m-0 transition-all duration-500 text-xl font-bold">
                                                    <a href="{{listing.get_absolute_url}}"
                                                        class="text-custom-h transition-all duration-500 ease-in group-hover:text-custom-primary">{{listing.title|truncatewords:3}}</a>
                                                </h3>
                                                <p class="text-gray-500 text-sm">
                                                    {{listing.slogan}}
                                                </p>
                                            </div>

                                            <div class="relative">
                                                <div class="">
                                                    <p class="text-xs text-gray-500 font-normal"><span><i
                                                                class="fa-solid fa-location-dot text-custom-primary mr-2"></i></span>{{listing.get_location|truncatewords:5}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="relative block border-t py-2 px-5  border-solid">
                                                <div class="relative flex justify-between items-center">
                                                    <div
                                                        class="relative space-x-2 flex justify-center w-fit items-center">
                                                        <div
                                                            class="text-sm rounded-full  h-7 w-7 grid items-center justify-center text-custom-primary">
                                                            <i class="fa-solid fa-tag font-bold p-0 m-0 text-sm"></i>
                                                        </div>
                                                        <div class="w-full">
                                                            <a href="{% url 'listings:get-listings-by-category' category=listing.category.slug %}"
                                                                class="text-xs text-gray-500 font-normal">{{listing.category.label|truncatewords:1}}</a>
                                                        </div>
                                                        <div
                                                            class="text-sm rounded-full  h-7 w-7 grid items-center justify-center text-custom-primary">
                                                            <p class="font-light p-0 m-0 text-xs">
                                                                +{{listing.category.businesses.count}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <p class="text-xs text-gray-500 font-normal">{% if
                                                            listing.is_open %}<span
                                                                class="p-1 rounded-sm text-white bg-green-400">open</span>{%
                                                            else %}<span
                                                                class="p-1 text-white rounded-sm bg-red-400">close</span>{%
                                                            endif %}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div id="events" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-custom-h text-2xl font-bold ">Events</h5>
                        {% if user.events.count == 0 %}
                        <div class="relative block">
                            <div class="space-y-4 w-full">

                                <p class="text-sm text-custom-tertiary font-normal">
                                    {{user.first_name}} currently does not have events
                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div class="w-full h-fit">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 flex-wrap">
                                {% for event in user.events.all %}
                                <div class="relative  overflow-hidden rounded-md">
                                    <div class="relative block bg-custom-h w-full h-80 group overflow-hidden">
                                        <div
                                            class="bg-custom-primary  z-20  absolute top-4 left-4 py-1 md:py-2 px-2 md:px-4 text-center">
                                            <p class="text-xs text-white">{{event.category}}</p>
                                        </div>


                                        <img src="{% if event.image %}{{event.image.url}}{% else %}{% static 'R.png' %}{% endif %}"
                                            alt="{{event.title}} image" srcset="" lazyload
                                            class="object-cover block h-full w-full duration-500 group-hover:scale-105">





                                        <div
                                            class="absolute group bg-custom-h text-white duration-500 bottom-0 left-0 w-full h-fit p-4">
                                            <div class="font-sans space-y-3">

                                                <div class="w-fit">
                                                    <p
                                                        class="duration-500 space-x-1 flex items-center text-sm font-normal">
                                                        <i class="fa-solid fa-calendar-days text-xs"></i>
                                                        <span class="m-0 p-0">
                                                            {{event.date_time_formatter}}
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="space-y-1">
                                                    <a href="{{event.get_absolute_url}}"
                                                        class="block  duration-500 font-bold text-white text-lg">
                                                        {{event.title|truncatewords:5}}
                                                    </a>
                                                    <address class="text-xs">{{event.event_address}}</address>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block js %}
<script>
    const navToggler = document.querySelectorAll(".user_nav_item");
    const navbarList = document.querySelectorAll(".user_nav_list");
    const campaign_percentage_w = document.getElementsByClassName("campaign_percentage_w");

    window.onload = () => {
        for (let index = 0; index < campaign_percentage_w.length; index++) {
            const element = campaign_percentage_w[index];
            element.style.width = `${element.getAttribute("data-style")}%`
        }

    }


    navToggler.forEach(ele => {
        ele.addEventListener("click", function () {
            for (let i = 0; i < navToggler.length; i++) {
                navToggler[i].classList.remove("active");
                navToggler[i].classList.remove("bg-gray-300");
                navToggler[i].classList.remove("text-gray-900");
                navToggler[i].classList.add("bg-custom-primary");
                navToggler[i].classList.add("text-white");

            }
            let dataAttrib = ele.getAttribute("data-category");


            loadData(dataAttrib);

            ele.classList.add("active");
            ele.classList.add("bg-gray-300");
            ele.classList.add("text-gray-900");
            ele.classList.remove("bg-custom-primary");
            ele.classList.remove("text-white");

        })
    })

    function loadData(idAttrib) {
        let data = document.getElementById(idAttrib);
        for (let i = 0; i < navbarList.length; i++) {
            if (navbarList[i].classList.contains("block")) {
                navbarList[i].classList.remove("block");
                navbarList[i].classList.add("hidden");
            }

        }
        if (data.classList.contains("hidden")) {
            data.classList.remove("hidden");
            data.classList.add("block");
        }

    }

</script>
{% endblock js %}