:root {
  --remix-icon: "remixicon";
  --Inter: "Inter", sans-serif;
  --Sans: "Open Sans", sans-serif;
  --white: #fff;
  --light: #d8dbe0;
  --dark: #28292c;
  --info: #0dcaf0;
  --body: #fff;
  --primary:#00715D;
  --primary-light:#00503f;
  --primary-deep:#005a4a;
  --secondary:#FFD502;
  --secondary-light:#d6b200;
  --tertiary:#F0783C;
  --info:#A1DDD2;
  --primary-rgb:0, 113, 93;
  --secondary-rgb: 40, 185, 94;
  --tertiary-rgb: 240, 120, 60;
  --primary-title: #090E0D;
  --secondary-title:#505A59;
  --tertiary-title:#636B6A;
  --pure-black:#000;
  --primary-subtitle: #23262F;
  --hero-two-subtitle: #DDDDDD;
  --secondary-subtitle:#3B3B3B;
  --dark-subtitle:#949B95;
  --primary-paragraph:#666666;
  --secondary-paragraph:#333333;
  --tertiary-paragraph:#787787;
  --primary-btn:#00715D;
  --secondary-btn:#FFD502;
  --tertiary-btn:#090E0D;
  --ratting-color:#FFB840;
  --ratting-color-rgb:255, 193, 7;
  --section-bg-one:#FFFFF3;
  --section-bg-two:#F5F7F9;
  --section-bg-three:#E5F1FF;
  --primary-border: rgba(168, 168, 168, 0.42);
  --secondary-border: #dddddd70;
  --tertiary-border: #D0D5DD;
  --primary-shadow: 0px 4.12121px 49.4545px rgba(0, 0, 0, 0.08);
  --panel-bg: #F4F6FA;
  --gray-text: #969696;
  --info-gray: #e5e5e5;
  --primary-gray: #CCCDD3;
  --secondary-gray: #F8F8F8;
  --footer-border: #5d6b69;
  --footer-bg: #2e3433;
  --header-bg3: #efe0ae;
  --hero-area-three-bg: #f9f5e8;
  --header-three-bg2: #c7b476;
  --header-two-slick-bg: #030712;
  --hero-area-three-bg3: #FFE0D1;
  --search-border: #ccc;
  --about-icon: #eee;
  --about-play-btn: #ffd5024d;
  --about-divider: #cacaca;
  --helpful-card-bg-one: #ffd5024d;
  --helpful-card-bg-two: #D4FDC8;
  --helpful-card-bg-three: #B6F1FF;
  --helpful-card-bg-four: #FFD0B6;
  --helpful-card-icon-one: #FFD502;
  --helpful-card-icon-two: #63D044;
  --helpful-card-icon-three: #30CBF1;
  --helpful-card-icon-four: #FE7B21;
  --number-one: #eaf3f2;
  --number-two: #F1F2F3;
  --number-one-hover: #157d6a;
  --number-two-hover: #097E6A;
}