{% extends '_base.html' %}
{% load static %}
{% block title %}Payment error{% endblock title %}

{% block content %}
<section class="py-16 h-full bg-gray-100 font-sans">
    <div class="container">
        <div
            class="w-full max-w-full rounded-xl my-auto bg-white mx-auto md:w-1/2 lg:w-5/12 relative shadow-xl text-center">
            <div class="p-5 md:p-7">
                <div class="space-y-6">
                    <h3 class="text-custom-h text-2xl md:text-4xl font-extrabold">Payment not processed</h3>
                    

                    <p class="text-custom-h text-lg font-medium">
                        There was problem while trying to process your payment
                    </p>
                    <p class="text-gray-500 text-base font-medium">
                        {{message}}
                    </p>
                    <p class="text-custom-h text-sm font-medium">
                        Don't worry, payment error was sent to our technical team for lookup
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" value="submit"
                            class="w-36 lg:w-40 h-12 border-2 border-custom-h bg-custom-h hover:bg-white hover:text-custom-h text-white font-medium text-sm focus-within:outline-none focus:outline-none lg:text-base duration-500 rounded-md">
                            try again
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}