{% extends '_ticket_order.html' %}
{% load static %}
{% block title %}Order placed successfully{% endblock title %}

{% block ticketsordercontent %}

<div class="bg-custom-bg">
    <div class="w-full max-w-full rounded-xl my-auto bg-white mx-auto md:w-1/2 lg:w-5/12 relative shadow-xl text-center">
        <div class="p-5 md:p-7">
            <div class="space-y-6">
                <h3 class="text-custom-h text-2xl md:text-4xl font-extrabold">Thank You</h3>
                <div>
                    <i class="fa-regular fa-check-circle text-8xl font-extralight text-custom-h"></i>
                </div>
                <p class="text-custom-h text-lg font-medium">
                    R{{ticketorder.total_price|floatformat:2}}
                </p>
                <p class="text-gray-500 text-lg font-medium">
                    Your order was successful and ready for payment! Use this order id <span
                        class="text-custom-secondary">{{ticketorder.order_number}}</span> for future references
                </p>
    
                <div class="flex w-full items-center justify-between">
                    <div class="w-36 lg:w-40 text-center grid items-center justify-center h-12 border-2 border-custom-h bg-custom-h hover:bg-white hover:text-custom-h text-white font-medium text-sm focus-within:outline-none focus:outline-none lg:text-base duration-500 rounded-md">
                        <a href="{% url 'events:cancel-ticket-order' ticketorder.id %}"
                            class=" w-fit mx-auto ">
                            Cancel order
                        </a>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <button value="submit" type="submit"
                            class="w-36 lg:w-40 h-12 border-2 border-custom-h bg-custom-h hover:bg-white hover:text-custom-h text-white font-medium text-sm focus-within:outline-none focus:outline-none lg:text-base duration-500 rounded-md">
                            Pay now
                        </button>
                    </form>
                </div>
    
            </div>
        </div>
    </div>
</div>

        
    

{% endblock ticketsordercontent %}