{% extends '_account.html' %}
{% load static %}

{% block title %}Change password{% endblock title %}

{% block content_v2 %}
<div class="transition-all duration-300">
    <p class="p-5 bg-section-bg-1 mb-5 lg:mb-6 text-sm lg:text-base">
        <span class="leading-1.8 lg:leading-1.8">The following addresses will be used on the checkout
            page
            by default.</span>
    </p>
    <!-- form -->
    {% include "includes/errors.html" %}
    <form method="post" class="form-primary bg-white">
        {% csrf_token %}
        <div class="mb-20">
            <div class="relative">
                <p class="text-sm lg:text-base">
                    <span class="leading-1.8 lg:leading-1.8">Old Password:</span>
                </p>
                <input type="password" name="old_password" id="id_old_password"
                    value="{% if form.old_password.value %}{{form.old_password.value}}{% endif %}"
                    class="text-paragraph-color pl-5 pr-[50px] outline-none border-2 border-border-color-9 focus:border focus:border-secondary-color h-[65px] block w-full rounded-none placeholder:text-paragraph-color placeholder:text-sm placeholder:text-opacity-85">
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px] mb-20">
                <!-- 1st name -->
                <div class="relative">
                    <p class="text-sm lg:text-base">
                        <span class="leading-1.8 lg:leading-1.8">New Password:</span>
                    </p>
                    <input type="password" name="new_password1" id="id_new_password1"
                        value="{% if form.new_password1.value %}{{form.new_password1.value}}{% endif %}"
                        class="text-paragraph-color pl-5 pr-[50px] outline-none border-2 border-border-color-9 focus:border focus:border-secondary-color h-[65px] block w-full rounded-none placeholder:text-paragraph-color placeholder:text-sm placeholder:text-opacity-85">
                </div>
                <!-- last name -->
                <div class="relative">
                    <p class="text-sm lg:text-base">
                        <span class="leading-1.8 lg:leading-1.8">
                            Retype New Password:</span>
                    </p>
                    <input type="password" name="new_password2" id="id_new_password2"
                        value="{% if form.new_password2.value %}{{form.new_password2.value}}{% endif %}"
                        class="text-paragraph-color pl-5 pr-[50px] outline-none border-2 border-border-color-9 focus:border focus:border-secondary-color h-[65px] block w-full rounded-none placeholder:text-paragraph-color placeholder:text-sm placeholder:text-opacity-85">
                </div>


            </div>
        </div>
        <!-- submit button -->

        <div>
            <h5
                class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-secondary-color hover:border-heading-color inline-block z-0">
                <span
                    class="inline-block absolute top-0 right-0 w-full h-full bg-secondary-color group-hover:bg-black -z-1 group-hover:w-0 transition-all duration-300"></span>
                <button type="submit"
                    class="relative z-1 px-5 md:px-[25px] lg:px-10 py-[10px] md:py-[15px] lg:py-[17px] group-hover:text-heading-color leading-[23px] uppercase">
                    Save Changes
                </button>
            </h5>
        </div>
    </form>
</div>

{% endblock content_v2 %}