{% extends '_base.html' %}
{% load static %}

{% block content %}
<section class="w-full font-sans mt-20 mb-20">

    <div class="container">
        <div class="relative block">
            <div class="w-full">
                <div class="w-full lg:w-1/2 mx-auto text-center bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 pb-4 text-2xl text-center text-custom-h font-bold">Reset password</h3>
                    {% include "includes/errors.html" %}
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="post">
                        <div class="w-full space-y-4 text-base mb-6 text-gray-500 font-normal font-sans">
                            <p class="">
                                Enter the email address you used when you joined and we'll send you instructions to
                                reset your password.
                            </p>
                            <p class="">
                                For security reasons, we do NOT store your password. So rest assured that we will never
                                send your password via email.
                            </p>
                        </div>
                        {% csrf_token %}
                        <div class="mb-4 text-start">
                            <label for="id_new_password1">
                                New password*
                            </label>
                            <input id="id_new_password1" name="new_password1" required
                                class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary focus:border-curing-custom-primary"
                                type="password" placeholder="" />
                            <span
                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.new_password1.help_text}}</span>
                        </div>
                        <div class="mb-4 text-start">
                            <label for="id_new_password2">
                                Retype new password*
                            </label>
                            <input id="id_new_password2" name="new_password2" required
                                class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary focus:border-curing-custom-primary"
                                type="password" placeholder="" />
                            <span
                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.new_password2.help_text}}</span>
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-3 font-bold text-white bg-custom-h rounded-full hover:bg-custom-h focus:outline-none focus:shadow-outline"
                                type="submit">
                                Submit
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a class="inline-block text-sm text-custom-h align-baseline"
                                href="{% url 'accounts:register' %}">
                                Create an Account!
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="inline-block text-sm text-custom-h align-baseline"
                                href="{% url 'accounts:login' %}">
                                Have account? Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}