{% extends '_base.html' %}
{% load static %}

{% block content %}
<section class="w-full font-sans mt-20 mb-20">

    <div class="container">
        <div class="relative block">
            <div class="w-full">
                <div class="w-full lg:w-1/2 mx-auto text-center bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 pb-4 text-2xl text-center text-custom-h font-bold">Reset password</h3>
                    {% include "includes/errors.html" %}
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="post">
                        <div class="w-full space-y-4 text-base mb-6 text-custom-text font-normal font-sans">
                            <p class="">
                                Enter the email address you used when you joined and we'll send you instructions to
                                reset your password.
                            </p>
                            <p class="">
                                For security reasons, we do <strong>NOT</strong> store your password. So rest assured
                                that we will never
                                send your password via email.
                            </p>
                        </div>
                        {% csrf_token %}
                        <div class="mb-4 text-start">

                            <div class="relative">
                                <input type="email" placeholder="Email*" name="email" id="id_email"
                                    value="{% if form.email.value %}{{form.email.value}}{% endif %}" required
                                    class="text-paragraph-color pl-5 pr-[50px] outline-none border-2 border-border-color-9 focus:border focus:border-secondary-color h-[65px] block w-full rounded-none placeholder:text-paragraph-color placeholder:text-sm placeholder:text-opacity-60">
                            </div>
                            <span
                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.email.help_text}}</span>
                        </div>
                        <div class="mb-6 text-center">
                            <h5
                                class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border bg-secondary-color border-secondary-color hover:border-primary-color hover:bg-primary-color inline-block z-0">
                                <button type="submit"
                                    class="relative z-1 px-[30px] lg:px-10 py-3 md:py-[15px] lg:py-[17px] group-hover:text-white leading-[23px] uppercase h">
                                    RESET PASSWORD
                                </button>
                            </h5>
                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a class="inline-block text-sm text-custombg-custom-h align-baseline hover:text-custom-h"
                                href="{% url 'accounts:register' %}">
                                Create an Account!
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="inline-block text-sm text-custombg-custom-h align-baseline hover:text-custom-h"
                                href="{% url 'accounts:login' %}">
                                Have account? Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}